* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.list-btn {
    padding: 10px;
}

.about-body {
    background: #d5d5d5;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}
.about .footer{
    opacity: 0.5;
}